<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
<center><b><h1>Lab - 6</b></center> 
<center><b><h1>Shreeya Dhol | 23010101066 | 03-01-2025</b></center>    
<pre>

# Tuple

### 01) WAP to find sum of tuple elements.

In [2]:
a=(1,2,3)
sum=0
for i in range(len(a)):
    sum=sum+a[i]
print(sum)

6

### 02) WAP to find Maximum and Minimum K elements in a given tuple.

In [48]:
a=(1,2,3,4,5,6,44,13,22,11,32,7)
b=sorted(a)
print(b)
k=int(input('enter a no : '))
max=b[-k:]
min=b[:k]
print(max)
print(min)

[1, 2, 3, 4, 5, 6, 7, 11, 13, 22, 32, 44]

enter a no :  5

[11, 13, 22, 32, 44]
[1, 2, 3, 4, 5]

### 03) WAP to find tuples which have all elements divisible by K from a list of tuples.

In [54]:
l = [(1,2,3),(2,4,6)]
k = int(input("Enter k"))
ans = [t1 for t1 in l if all(i%k == 0 for i in t1)]
ans

Enter k 1

[(1, 2, 3), (2, 4, 6)]

### 04) WAP to create a list of tuples from given list having number and its cube in each tuple.

In [80]:
l= [1,2,3,4,5,6,7,8]
a = [(n, n**3) for n in l]
print("Cube of list is : ",a)

Cube of list is :  [(1, 1), (2, 8), (3, 27), (4, 64), (5, 125), (6, 216), (7, 343), (8, 512)]

### 05) WAP to find tuples with all positive elements from the given list of tuples.

In [21]:
l= [(1,2,3),(-2,4,5),(4,-6,8)]
for i in l:
    if all(x>=0 for x in i):
        print("Positive tuple is : ",i)

(1, 2, 3)

### 06) WAP to add tuple to list and vice â€“ versa.

In [27]:
l1 = [1,2,3,4,5]
t1 =(6,7,8,9,10)
l1.extend(t1)
print("New list is  ::",l1)

t2=tuple(l1)
print("New tuple is  ::",t2)

New list is  :: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
New tuple is  :: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 07) WAP to remove tuples of length K.

In [29]:
l = [(1,2,3),(2,4,6,8),(1,2)]
k=3
for i in l:
    if(len(i)==k):
        l.remove(i)
print("Sorted list is : ",l)

Sorted list is :  [(2, 4, 6, 8), (1, 2)]

### 08) WAP to remove duplicates from tuple.

In [31]:
t1 = (1,2,3,4,5,1,2,6,7,8,9,3,4)
a=set(t1)
t1=tuple(a)
print("Original tuple is : ",t1)

Original tuple is :  (1, 2, 3, 4, 5, 6, 7, 8, 9)

### 09) WAP to multiply adjacent elements of a tuple and print that resultant tuple.

In [39]:
t1 = (1,2,3,4,5,6,7,8,9,10) 
result = tuple(t1[i]*t1[i+1] for i in range(len(t1)-1))
print(result)

(2, 6, 12, 20, 30, 42, 56, 72, 90)

### 10) WAP to test if the given tuple is distinct or not.

In [43]:
t1 = (1,2,3,4,5,6,7,8,9,10) 
myset = set(t1)
if(len(myset)!=len(t1)):
    print('not dictinct')
else:
    print('distinct')

distinct